//Proxima nova sbold

.my-5 h1.text-start{
    font-family: "proxima-nova", sans-serif;
    font-weight: 900;

}

//proxima nova sbold
.my-3{
    font-family: "proxima-nova", sans-serif;
    font-size: 1.04rem;
    font-weight: 600;
    font-style: normal;
}

//proxima nova black
body {
    color: $dark;
    font-family: "proxima-nova", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lesson-search {
    font-family: "proxima-nova", sans-serif;
    letter-spacing: .7;

}

// ----- Text formatting

a.nav-link.button {
    border-radius: 2.5rem;
    padding: .50rem 2.15rem;
    letter-spacing: .06rem;
    font-size: 1.03rem;

}

h1 {
    text-align: center;
    font-size: 3.5rem;

    a {
        text-decoration: none;
        color: $dark;
        letter-spacing: .7;
        font-weight: 900;
    }
}

.highlight {
    color: $orange;
}

//proxima nova xbold
a.lesson-item{
    padding:.02rem;

     &-item {
        text-decoration: none;
        color: $orange;
        display: block;
        width: 200px;
        min-height: 200px;
        padding: 1rem;
        margin: 0.5rem 1rem .5rem;
        border-radius: .5rem;
        border: 2px solid $light-gray;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
     }
        &:hover {
            background-color: $orange;
            color: white;

            .icon {
                filter: brightness(0) invert(1);
            }
        }

.title {
            font-family:"proxima-nova", sans-serif;
            margin: .5rem;
            font-size: 1rem;
            line-height: 1.2rem;
            text-align: center;
            letter-spacing: .05rem;
            font-weight: 800;
        }

    }